<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Track Three</title>

  <!-- Bootstrap core CSS -->
  <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../static/styles.css">

  <!-- Custom styles for this template -->
  <link href="../static/css/scrolling-nav.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/">Home</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header>
        <div class="container text-center" style= "background-color:white">
          <h1 style= "color: green; font-style:bold; font-size:50pt"><center>Sustainability Guru</center></h1>
        </div>
  </header>

  <section id="services" style ="background-color:rgb(107,142,35)">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 style ="color:white">Prepare Your Meals</h2>
        <center>
          <p class="lead" style = "color:white;">
           Cook your meals at home instead of getting take out! This way you avoid using plastic containers, bags, and utensils.
         </p>
         </center>
          <center>
         <img src='https://lh3.googleusercontent.com/egluegnES0zEyia0N5yfaP4FCK49sVETWErt9TEEr41CVFp6Ttb8SiYxdCgkeNn5vlA_a40wTAZMNHOTniPXOKE1K9Gk0NVcQhzc-_lC8Ox869X-ec71bE_GQk8CyXHSFI_S-ZWt=w2400' style="height: 300px"/>
        </center>
        </div>
      </div>
    </div>
  </section>

  <section id="services" style ="background-color:rgb(107,142,35)">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <center><h2 style ="color:white">Going Carbon Neutral</h2></center>
          <p class = "lead" style ="color:white">
            Switch to 100% renewable electricity practices! Through this you will help conserve energy and decrease your carbon footprint. 
          </p>
          <center>
           <img src='https://lh3.googleusercontent.com/Ruexr2_ADRplzjnu4KbHVAVWyq3zKRNMPh7QbmVxB46WCCGJvSUAsRDDYPpRlDpBJmJiB7Bv_8V2DeqOy_-ju1pBKM00LkYZoqbXLnkCEQnZMyK-_jv2NjzW732N5Z41mapSK_ek=w2400' style="width: 350px" /></a>
         </center>
        </div>
      </div>
    </div>
  </section>

  <section id="services" style ="background-color:rgb(107,142,35)">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <center><h2 style ="color:white">Challenge Others to Go Sustainable Too</h2></center>
          <p class = "lead" style ="color:white">
            Having the knowledge to save the world is great, but it is even better when it is used to educate and teach others as to how they can be sustainable too. Spread the knowledge of sustainability at your home, office, or school and encourage others to help conserve our planet for generations to come.
          </p>
          <center>
           <img src='https://lh3.googleusercontent.com/vg7Ndc5ZPQVpCtjEHjg50tIVDivTBwURnHUacsPRxi9lbjNiOyh76f30XvI3Jpl-u5wwFmuY3j8GLAUR6mRiblvA6ZhwdyUdKJ0BwuOGrvYN9zLO8FEpCUUCUXTQ0aY6Zpqg3Epg=w2400' style="width: 350px" />
         </center>
        </div>
      </div>
    </div>
  </section>

  <!--Signing up for SMS Notifications-->
  <section id="contact" style="background-color:rgb(107,142,35)">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <center><h2 style ="color:white">Sign up to receive daily alerts on small changes you can make to be more sustainable!</h2></center>
          <center><h6 style ="color:white">Text the words "SIGN UP" to +1 (201) 423-6881</h6>
            <br>
          </center>
        </div>
      </div>
    </div>
  </section>

  <section id="contact" style ="background-color:rgb(107,142,35)">
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <center>
            <!--Sustainability Novice-->
            <img src='https://lh3.googleusercontent.com/3-4NeyIjeCSDC_yLV9ESq0syzhVimpmlISLerbR_MJFqikyuXARkTN4Lee6s9OVILMVxb-KTIPXG9l-O_xg0H_A-347gQs7w0-xiA4Wy41HHimaEd2EpooENqeCXDnUbe6bKZykK=w2400' style= "width:90%; height:90%" /></a>
          </center> 

          <center>
            <br>
            <a class="btn btn-primary" href="/track1" role="button">Track #1</a>
          </center>
        </div>
       
        <div class = "col-sm">
          <center>
            <!--Sustainability Junior-->
            <img src='https://lh3.googleusercontent.com/xJDcrjje12Gm6xEJ15WMx83bAyc_IYxufhQQjgibzIVUDGSGodauhq-A2wC5ZtaZseEFxtFgqJHLz9xrbhB83X3JBsdnF7UZh7rBFhlLrlHr9_PTqLUMPzpygkhdt23sUi7wPZn5tw=w2400' style= "width:90%" /></a>
            <center>
            <br>
            <a class="btn btn-primary" href="/track2" role="button">Track #2</a>
            </center>
          </center>
        </div>
          </center>
        </div>
      </div>
    </div>
  </section>


  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Sustainability for the World 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="../static/vendor/jquery/jquery.min.js"></script>
  <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom JavaScript for this theme -->
  <script src="../static/js/scrolling-nav.js"></script>

</body>

</html>

